{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always"
}
