body {
  background-color: #170720 !important;
  line-height     : 1.6 !important;
}

.json {
  padding      : 2rem;
  white-space  : normal;
  word-wrap    : break-word;
  overflow-wrap: break-word;
}

.array-key,
.list-key,
.key {
  color      : #c792ea;
  font-weight: bold;
  font-family: monospace;
}

.array-attr,
.list-attr,
.attr {
  font-family: monospace;
  color      : #a6accd;
}

.repo-list {
  margin-left: 1rem;
}

.repo {
  font-family  : monospace;
  font-size    : 0.9rem;
  color        : #7672b6;
  margin-bottom: 1rem;
  padding-left : 2rem;
}

.repo-name {
  color: #00d1b2;
}

::selection {
  background-color: #261550;
  color           : #00d1b2;
}

::-moz-selection {
  background-color: #261550;
  color           : #00d1b2;
}

a {
  color          : #00d1b2;
  text-decoration: none;
  transition     : color 0.3s ease, border-bottom 0.3s ease;
  position       : relative;
}

a:hover {
  color: #00d1b2 !important;
}

a:active {
  color: #00796b;
}

a::after {
  content         : '';
  position        : absolute;
  width           : 100%;
  height          : 3px;
  background-color: #00d1b2;
  bottom          : -2px;
  left            : 0;
  transform       : scaleX(0);
  transform-origin: bottom right;
  transition      : transform 0.3s ease;
}

a:hover::after {
  transform       : scaleX(1);
  transform-origin: bottom left;
}