@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Ubuntu Sans Mono";
	src: url("./assets/fonts/Ubuntu_Sans_Mono/UbuntuSansMono-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu Sans Mono Italic";
	src: url("./assets/fonts/Ubuntu_Sans_Mono/UbuntuSansMono-Italic-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 200 900;
	font-style: italic;
	font-display: swap;
}
