@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Code Pro';
  src: url('./assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900; /* Range of weights available in the variable font */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro Italic';
  src: url('./assets/fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900; /* Range of weights available in the variable font */
  font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: "Hack";
	src: url("./assets/fonts/hack/hack-regular-subset.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Hack Italic";
	src: url("./assets/fonts/hack/hack-italic-subset.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

/* Apply font-family globally */
* {
	font-family: 'Source Code Pro', monospace;
	font-weight: 500; /* Normal weight by default */
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background-color: #170720;
	color: rgba(255, 255, 255, 0.87);
}

#app {
	width: 100%;
	padding: .5em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800; /* Bold headings */
}

a {
	font-weight: 600;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 600;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
